{% extends "body.html" %}

{% block content %}

<header id="masthead" class="site-header">
  {% if page.img_path %}
  <style type="text/css">
    .site-header-bg {
      background-image:url("{{ page.img_path | relative_url }}");
    }
  </style>
  <div id="header-bg" class="site-header-bg"></div>
  {% elif site.params.header.bg_img %}
  <style type="text/css">
    .site-header-bg {
      background-image:url("{{ site.params.header.bg_img | relative_url }}");
    }
  </style>
  <div id="header-bg" class="site-header-bg"></div>
  {% endif %}
  <div class="site-header-scroll">
    <div class="site-header-inside">
      <div class="site-header-vertical">
        {% include "branding.html" %}
        {% include "navigation.html" %}
      </div><!-- .site-header-vertical -->
    </div><!-- .site-header-inside -->
  </div><!-- .site-header-scroll -->
</header><!-- .site-header -->

<div id="content" class="site-content">
  <main id="main" class="site-main inner">

    <article class="post page post-full">
      <header class="post-header">
        <h1 class="post-title">{{ page.title }}</h1>
      </header><!-- .post-header -->
      {% if page.subtitle %}
      <div class="post-subtitle">
        {{ page.subtitle | safe }}
      </div><!-- .post-subtitle -->
      {% endif %}
      <div class="post-content">
        {{ page.content }}
        <form name="contactForm" method="POST" netlify-honeypot="bot-field" data-netlify="true" id="contact-form"
          class="contact-form">
          <p class="screen-reader-text">
            <label>Don't fill this out if you're human: <input name="bot-field" /></label>
          </p>
          <p class="form-row">
            <label class="form-label">Name *</label>
            <input type="text" name="name" placeholder="Your name..." class="form-input">
          </p>
          <p class="form-row">
            <label class="form-label">Email *</label>
            <input type="email" name="email" placeholder="Your email address..." class="form-input">
          </p>
          <p class="form-row">
            <label class="form-label">Message *</label>
            <textarea name="message" placeholder="Your message..." class="form-textarea" rows="7"></textarea>
          </p>
          <input type="hidden" name="form-name" value="contactForm" />
          <p class="form-row">
            <button type="submit" class="button">Send Message</button>
          </p>
        </form><!-- .contact-form -->
      </div><!-- .post-content -->
    </article><!-- .post -->

  </main><!-- .site-main -->

  {% include "footer.html" %}

</div><!-- .site-content -->

{% endblock %}
